@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap");
@import "mediaquery.css";

/* start of index */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  padding-top: 70px;
  height: 100hv;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding: 0px 190px 0px 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(235, 235, 235);
  background-color: white;
  z-index: 5;
  transition: top 0.5s ease-in-out;
}

header span {
  font-size: 25px;
}

header i {
  color: rgb(87, 87, 87);
}

.sub_header {
  display: flex;
  height: 70px;
  padding: 30px 0px 30px 0px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background-color: rgba(255,255,255  );  
  position: fixed;
  left: 0;
  right: 0;
  transition: top 0.5s ease-in-out;
}

.sub_header span:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}

.main {
  min-height: calc(100vh - 80px);
  /* height: 2000px; */
}

.content_row1 .image {
  width: 50%;
  height: 100%;
  background-image: url("./images/it1.jpg");
  overflow: hidden;
  background-size: cover;
  background-position-x: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_row1 .text {
  background-color: #f7f7f7;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.text .category {
  margin-top: 55px;
  margin-bottom: 37px;
  font-size: 10px;
}

.text .title {
  font-family: "Nanum Myeongjo", serif;
  font-size: 35px;
  line-height: 45px;
}

.text .detail {
  margin-top: 45px;
  margin-bottom: 60px;
  font-family: "Nanum Myeongjo", serif;
  font-size: 13px;
  line-height: 20px;
}

.read_more_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 45px;
  border: 1px solid lightgray;
  font-size: 13px;
}

.content_subscribe {
  background-color: #f7f7f7;
  height: 420px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_subscribe .newsletter {
  width: 520px;
  height: 240px;
  border-right: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.newsletter .row:nth-child(2) {
  margin-top: 70px;
  margin-bottom: 40px;
  font-family: "Nanum Myeongjo", serif;
  font-size: 15px;
}

.content_subscribe .sns {
  width: 520px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.newsletter_form {
  display: flex;
}

.newsletter_form .col:nth-child(1) {
  padding: 17px 0px 17px 20px;
  border: 1px solid lightgrey;
  width: 225px;
  height: 50px;
  font-family: "Nanum Myeongjo", serif;
  font-size: 14px;
  color: lightgray;
}

.newsletter_form .col:nth-child(2) {
  border: 1px solid lightgrey;
  border-left: none;
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns .row:nth-child(2) {
  width: 150px;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}

.sns_row {
  display: flex;
  justify-content: space-between;
}

.sns_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
  font-size: 25px;
  font-family: "Nanum Myeongjo", serif;
}

.sns_col i {
  margin-bottom: 8px;
}

.sns_col span {
  font-size: 9px;
}

.content_row2 .image {
  width: 50%;
  height: 100%;
  background-image: url("./images/space.jpg");
  overflow: hidden;
  background-size: cover;
  background-position-x: center;
  float: left;
}

.content_row2 .text {
  background-color: #f7f7f7;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content_row3 .image {
  width: 50%;
  height: 100%;
  background-image: url("./images/it2.jpg");
  overflow: hidden;
  background-size: cover;
  background-position-x: center;
}

.content_row3 .text {
  background-color: #f7f7f7;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main .bg_image {
  width: 100%;
  height: 100%;
  background-image: url("./images/image3.jpg");
  position: fixed;
  bottom: 10px;
  z-index: -2;
  background-size: cover;
  background-position-x: center;
}

.empty {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 100px;
}

.empty span {
  color: white;
  font-size: 50px;
  font-family: "Cormorant Garamond", serif;
  margin-top: 70px;
}

.work_with_us_btn {
  width: 240px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  font-size: 14px;
  margin-top: 30px;
}

.white_row {
  width: 100%;
  height: 100px;
  background-color: white;
}

footer {
  height: 80px;
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .col:nth-child(1) {
  font-size: 18px;
} 

footer .col:nth-child(2) {
  font-size: 11px;
  /* opacity: 0.8; */
}

footer .col:nth-child(1) * {
  margin-right: 18px;
  opacity: 0.8;
}

footer .col:nth-child(2) * {
  margin-left: 23px;
}

.slide_section {
  width: 100%;
  height: 460px;
  background-color: white;
  overflow: hidden;
  position: relative;
}

.left_blur {
  position: absolute;
  width: 320px;
  height: 460px;
  background-color: white;
  opacity: 0.7;
  z-index: 4;
}

.right_blur {
  position: absolute;
  width: 320px;
  height: 460px;
  background-color: white;
  opacity: 0.7;
  right: 0;
  z-index: 4;
}

.slides {
  display: flex;
  left: 145px;
  position: absolute;
  
}

.slides li {
  margin-left: 57.5px;
}

.slide_text {
  height: 140px;
  margin-top: 30px;
}

.slides img {
  width: 350px;
  height: 240px;
}

.slides li:nth-child(1) {
  margin-left: 260px;
}

.slide_text div:nth-child(1) {
  margin-bottom: 17px;
  font-size: 12px;
}

.slide_text div:nth-child(2) {
  font-family: "Nanum Myeongjo", serif;
  font-size: 28px;
}

.slide_btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 380px;
  margin-bottom: 45px;
}


.slide_btn .prev {
  width: 100px;
  height: 18px;
  background-repeat: no-repeat;
  background-image: url(./images/arrow.png);
  transform: scaleX(-1);
}

.slide_btn .next {
  width: 100px;
  height: 18px;
  background-repeat: no-repeat;
  background-image: url(./images/arrow.png);
  margin-left: 15px;
}

.slides {
  transition: left 0.3s;
}

.content_row {
  width: 100%;
  height: 500px;
  display: flex;
  padding: 0px 320px 0px 320px;
  background-color: white;
}

.nav-up {
  top: -70px;
}

.nav-down {
  top: 70px;
}

/* end of index */

/* start of index */

.article {
  width: 900px;
  height: 221px;
  display: flex;
  margin-left: 523px;
  margin-right: 523px;
  background-color: white;
  margin-bottom: 90px;

}

.main_it {
  text-align: center;
  font-weight: 500;
}

.article_img {
  background-image: url("./images/mac.jpg");
  width: 38%;
  height: 100%;
  overflow : hidden;
  background-size: cover;
  background-position-x: center;
}

.article_info {
  /* border: 1px solid red; */
  width: 62%;
  height: 100%;
  padding: 30px;
}


.article_info div:nth-child(1) {
  font-size: 30px;
  padding-bottom: 20px;
}

.article_info div:nth-child(2) {
  font-size: 15px;
}

.up-on-scroll {
  transition: transform 0.7s, opacity 1s;
  border: 0px solid red;
  width: 100%;
}



